.input-group {
  width: 70px;
  display: grid;
  grid-template-columns: 20px auto 20px;
}

input {
  all: unset;
  width: min-content;
  padding: 0 0 0 10px;
}

.counts {
  background-color: #ffffff;
  border: 1px solid black;
  border-left: transparent;
  border-right: transparent;
  width: 30px;
  display: flex;
}

#decrement {
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#increment {
  border: 1px solid black;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
